#portfolio{
    background: #000000;
}
.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin: 124px 0px 0px 0;
}

.portfolio__item {
    background: #030304;
    padding: 1.3rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
    background: transparent;
    border-radius: 2rem;
}

.portfolio__item-image {
    overflow: hidden;
    height: 50%;
}
.portfolio__item-image img{
    height: 100%;
}
.portfolio__item h3 {
    margin: 2rem 0 8px 0;
    font-size: 28px;
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

 

.portfolio__item-content {
    height: 50%;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}