.experience{
    background: repeating-radial-gradient(circle, transparent, transparent 10.8px, rgba(49, 49, 49, 0.21) 10.8px, rgba(49, 49, 49, 0.21) 14.0px), repeating-radial-gradient(circle, transparent, transparent 10.8px, rgba(49, 49, 49, 0.21) 10.8px, rgba(49, 49, 49, 0.21) 14.0px), #020a18;
    background-size: 62px 62px;
    background-position: 0 0, 31px 31px, 62px 31px;
    background-color: #020a18;
    background-attachment: fixed; 
}
.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: #7474744a;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

@media screen and (max-width: 1024px){
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    .experience__content p {
        padding: 1rem;
    }
}
  
@media screen and (max-width: 600px){
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}
.technologies{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    grid-row-gap: 3.375rem;
    margin: 124px 0px;
}
.technologies_item{
    display: flex;
    justify-content: center;
}
.technologies img {
    max-width: 100%;
    transition: opacity .3s;
    opacity: .4;
    height: auto;
    vertical-align: middle;
    width: 79px;
}
h2.main_title{ 
    text-align: center;
    font-size: 6.5rem;
    font-weight: 900;
    color: #ffc04e;
} 